.blog{
    margin: 0 auto;
    padding: 3% 5%;
    width: 50%;
    display: flex;
    flex-direction: column;
    border: 1px rgba(0, 0, 0, 0.114) solid;
    font-family: 'Poppins', sans-serif;

}

.blog-title{
    margin: 2%;
    font-size: clamp(2rem ,4vw,3rem);
    font-family: 'Cormorant Garamond', serif;
}

.blog-que>div:nth-of-type(2n+1){
margin: 2%;
font-size: clamp(1.5rem,3vw,2rem);
color: rgba(0, 0, 0, 0.718);
}

.blog-que>div:nth-of-type(2n){
margin: 1%;
font-size: 1.1rem;
color: rgba(0, 0, 0, 0.351);
}

@media  screen and (max-width:1000px) {
    .blog{
        width: 80%;
        padding: 6%;
    }
}